<div class="container">
    <div class="indexDiv">
      <h1><%= category.name %></h1>
     
      <center><p><strong>Description:</strong> <%= category.description %></p></center>
      <hr>
  <center><h4>Products</h4></center>
      <div class="container" id="category-center" >
        
        <hr>
        <ul>
          <% for (const product of products) { %>
            <li>
              <a href="<%= product.url %>">
                <p><strong><%= product.name %></strong></p>
              </a>
              <p><%= product.description %></p>
            </li>
          <% } %>
        </ul>
   
      </div>
    </div>
  </div>
  