<div class="container">
    <div class="indexDiv">
      <h1><%= user.firstname + " " + user.lastname %></h1>
      <div class="detail">
        <p>Email: <%= user.email %></p>
      </div>
      <div class="orders">
        <ul>
          <% orders.forEach((order) => { %>
            <li><a href="<%= order.url %>"><%= order._id %>                <%=order.createdAt%></a></li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
  